.Background_Card {
  background: #f6f6f6;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 50px;
  border-radius: 25px;

  margin-left: 80px;
  margin-right: 80px;
  z-index: 0;

  .Link_Card {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    grid-template-rows: auto;

    .Card {
      position: relative;
      border-radius: 10px;
      object-fit: cover;

      .Title {
        position: absolute;
        bottom: -5px;
        color: white;
        font-weight: 700;
        line-height: 20px;
        height: 52px;
        width: 250px;
        text-align: left;
        left: 10px;
        z-index: 2;
      }

      .Cover {
        display: flex;
        object-fit: cover;
        width: 100%;
        height: 340px;
        border-radius: 10px;
      }
    }

    .Card::after {
      content: '';
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(10, 10, 10, 0) 42%,
        rgba(4, 4, 4, 0.205) 99.99%,
        rgba(0, 0, 0, 0.5) 100%
      );

      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      opacity: 1;
      z-index: 1;
    }
  }
}

@media screen and (max-width: 1024px) {
  .Background_Card {
    background: none;
    margin: 20px 20px 30px 20px;
    padding: 0px;

    .Link_Card {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      .Card {
        .Cover {
          width: 100%;
          height: 255px;
          border-radius: 10px;
        }
      }
    }
  }
}
