.Carrousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 425px;

  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;

  .Left_Arrow {
    position: absolute;
    z-index: 1;
    left: 20px;
    cursor: pointer;
  }

  .Right_Arrow {
    position: absolute;
    right: 20px;
    cursor: pointer;
    z-index: 1;
  }

  .Index_Indication {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 48.5%;
    margin-bottom: 35px;
    color: white;
  }

  .Photo_Carrousel {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 425px;
    border-radius: 25px;
  }
}

@media screen and (max-width: 1024px) {
  .Carrousel {
    height: 255px;
    margin-left: 20px;
    margin-right: 20px;

    .Left_Arrow {
      height: 19px;
      left: 5%;
      top: 125px;
    }

    .Right_Arrow {
      height: 19px;
      right: 5%;
      top: 125px;
    }

    .Index_Indication {
      display: none;
    }

    .Photo_Carrousel {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
}
