.Carrousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 425px;
  width: 1240px;
  margin-top: 30px;

  .Left_Arrow {
    position: absolute;
    left: 20px;
    cursor: pointer;
  }

  .Right_Arrow {
    position: absolute;
    right: 20px;
    cursor: pointer;
  }

  .Photo {
    display: flex;
    object-fit: cover;
    width: 1240px;
    height: 425px;
    border-radius: 25px;
  }
}
