.Background_Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  margin-top: 60px;
  height: 209px;
  gap: 30px;

  .Logo_Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 122px;
    height: 39px;
  }

  .Texte_Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}
