.Background_Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  margin-top: 55px;
  gap: 30px;
  width: 100%;
  height: 209px;

  .Logo_Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 122px;
    height: 39px;
  }

  .Tagline_Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}

@media screen and (max-width: 375px) {
  .Background_Footer {
    width: 100%;
    height: 209px;
    margin-top: 30px;
  }

  .Tagline_Footer {
    width: 133px;
    text-align: center;
  }
}
