.Background_Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  gap: 30px;
  height: 200px;
  width: 100%;

  .Logo_Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 122px;
    height: 39px;
  }

  .Tagline_Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}

@media screen and (max-width: 1024px) {
  .Background_Footer {
    .Tagline_Footer {
      width: 133px;
      text-align: center;
    }
  }
}
