.Header {
  display: flex;
  margin: 40px 0 0 0px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .Logo {
    display: flex;
    width: 210px;
  }

  .Navbar {
    display: flex;
    align-items: flex-start;
    flex-direction: row;

    ul {
      display: flex;
      flex-direction: row;
      gap: 50px;

      .Link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 24px;
      }
    }
  }
}
