.Container_Logement {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;

  .Collapse_Title_Logement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background: #ff6060;
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    width: 100%;
    line-height: 25px;
    transition: border-radius 0.3s ease;

    .Collapse_Arrow_Logement {
      width: 24px;
      cursor: pointer;
    }
  }

  .Collapse_Title_Logement.open {
    border-radius: 10px;
  }

  .Collapse_Content_Logement {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 18px;
    line-height: 25px;
    padding: 25px 20px 19px 20px;
    text-align: left;
    background: #f6f6f673;
    width: 100%;
  }
}

.Container_APropos {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
  position: relative;

  .Collapse_Title_APropos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: #ff6060;
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    width: 100%;
    line-height: 34px;
    margin-top: 40px;

    .Collapse_Arrow_APropos {
      width: 24px;
      cursor: pointer;
    }
  }

  .Collapse_Title_APropos.open {
    border-radius: 10px;
  }

  .Collapse_Content_APropos {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 18px;
    line-height: 25px;
    padding: 25px;
    text-align: left;
    background: #f6f6f673;
  }
}

@media screen and (max-width: 1024px) {
  .Container_Logement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .Collapse_Title_Logement {
      font-size: 13px;
      width: 100%;
      height: 30px;

      .Collapse_Arrow_Logement {
        width: 16px;
      }
    }

    .Collapse_Content_Logement {
      width: 100%;
      font-size: 12px;
      line-height: 17px;
      padding: 20px 20px 19px 20px;
    }
  }

  .Container_APropos {
    margin: 15px 20px 0px 20px;
    .Collapse_Title_APropos {
      font-size: 13px;
      color: white;
      font-weight: 700;
      width: 100%;
      height: 30px;
      margin-top: 20px;

      .Collapse_Arrow_APropos {
        width: 16px;
        cursor: pointer;
      }
    }

    .Collapse_Content_APropos {
      width: 100%;
      font-size: 12px;
      line-height: 17px;
      padding: 20px 20px 19px 20px;
    }
  }
}
